
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="/webjars/bootstrap/css/bootstrap-theme.css" rel="stylesheet"></link>
<link href="/webjars/font-awesome/css/font-awesome.css" rel="stylesheet"></link>
<link href="/css/navbar.css" rel="stylesheet"></link>
<link href="/css/login.css" rel="stylesheet"></link>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/bootstrap.min.js"></script>

<script th:inline="javascript" >
    var remoteUser = [[${#httpServletRequest.remoteUser}]];
</script>
<script src="/js/login.js"></script>

<head>
    <title>Login page</title>

</head>
<body>



<form id="logout" th:action="@{/logout}" method="post"></form>
<nav class="navbar  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home"  id="username"></a> </li>
                <li><a href="/">Messenger</a></li>
                <li id="userStatus"></li>
                <li><a href="/registr">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>


<div  th:if="${param}" id="alerts" >
    <div th:if="${param.logout}" class="alert alert-info " role="alert">
        You have been logged out
    </div>
    <div th:if="${param.error}" class="alert alert-info " role="alert">
        Invalid login or password.
    </div>
</div>


<form th:action="@{/login}" method="post" class="form-horizontal" id="loginForm">



    <div class="form-group">
        <label class="control-label col-sm-3" for="login">Login</label>
        <div class="col-sm-6">
            <input type="login" name="username" class="form-control" id="login" placeholder="Enter login"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password">Password:</label>
        <div class="col-sm-6">
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="checkbox">
                <label><input type="checkbox" name="remember-me-param"/> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
            <button type="submit" class="btn btn-warning">Log in</button>
        </div>
        <div class="col-sm-3">
                New user?
                <a href="/registr">Sign up</a> now!
        </div>
    </div>

</form>
</body>
</html>