<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Messenger</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/webjars/bootstrap/css/bootstrap-theme.css" rel="stylesheet"></link>
    <link href="/webjars/font-awesome/css/font-awesome.css" rel="stylesheet"></link>
    <link href="/css/navbar.css" rel="stylesheet"></link>
    <link href="/css/messenger.css" rel="stylesheet"></link>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/bootstrap/bootstrap.min.js"></script>

    <script src="/js/bootstrap-confirmation.min.js"  ></script>
    <script th:inline="javascript">
        var rooms = [[${rooms}]];
        var role = [[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]];
        var remoteUser = [[${#httpServletRequest.remoteUser}]];
        var reqRoom = [[${room}]];
        var reload = [[${reload}]];
    </script>
    <script src="/js/messenger.js"  ></script>


</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript beingenabled. Please enableJavascript and reload this page!</h2></noscript>
<form id="logout" th:action="@{/logout}" method="post"></form>
<form id="connect" th:action="@{/}" method="post">
    <input type="hidden" name="currentRoom" id="currentRoom"/>
</form>


<form id="deleteUser" th:action="@{/}" method="post" style="display:none">
    <input type="hidden" name="currentRoom" id="currentRoom1"/>
    <input type="text" name="userDelete" id="userDelete"/>
    <input type="text" name="roomDelete" id="roomDelete"/>
</form>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home"  id="username"></a> </li>
                        <li><a href="/">Messenger</a></li>
                        <li id="userStatus"></li>
                        <li><a href="/registr">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>

<div id="main-content" class="container" >

    <div id="alerts" th:if="${error} != ''" th:text="${error}"  class="alert alert-info"  role="alert"></div>

    <div class="row">
        <div class="col-md-2">
            <form class="form-inline" id="roomsForm">
                <h4> Rooms</h4>
                <div style="max-height:60%; overflow:auto;">
                    <table id="roomstable" class="table table" style="border: 0px;">
                        <tbody id="rooms">
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="col-md-7" >
            <h4> Chat</h4>
            <div id="scroll">
                <table class="table table" >
                    <tbody id="chat">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <h4> Users</h4>
            <div style="max-height:40%px; overflow:auto;" >
                <table class="table table">
                    <tbody id="users">
                    </tbody>
                </table>
            </div>
            <div id="addUserDiv" class="col-md-2"  >
                <form id="addUserForm" method="post" onsubmit='' class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="addUser">Add user:</label>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="currentRoom" id="currentRoom2"/>
                        <input type="hidden" name="addRoom" id="addRoom"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="text" name="addUser" class="form-control" id="addUser" autocomplete="off" placeholder="Enter user login"/>
                    </div>
                    <div class="form-group">
                        <button id="addUserButton" class="btn btn-warning" type="button" > Add a user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>

            <form id="sendForm">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">Message</span>
                        <input type="text" class="form-control" id="message" name="message" autocomplete="off" placeholder="Your message..."/>
                    </div>
                </div>
                <div class="col-md-1">
                    <button id="send" class="btn btn-warning" type="submit">Send</button>
                </div>
            </form>

        </div>
    </div>

</body>
</html>